<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex08</title>
    <link rel="stylesheet" href="../css/ex08.css">
</head>
<body>
    <div class="controles" id="controles">
        <div class="controle">
            <label>Número de objetos</label>
            <p id="num_objetos">0</p>
        </div>
        <div class="controle">
            <label>Quantidade de objetos</label>
            <input type="number" value="0" min="0" id="txt_qtde">
            <button id="btn_add">Adicionar</button>
        </div>
        <div class="controle">
            <button id="btn_remover">Remover todos</button>
        </div>
    </div>
    <div id="palco" class="palco">
        
    </div>
    <script src="../script/node10.js"></script>
</body>
</html>